.mainbg {
  background-image: url("http://mrmrs.io/photos/u/011.jpg");
}
.logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.content-container {
  width: 87.5%;
  margin: 0 auto;
  padding-bottom: 50px;
}
header {
  margin-bottom: 75px;
}
.cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cities__city {
  border: 1px solid #000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
}
.cities__city--content {
  padding-bottom: 100%;
}
.cities__city:before {
  padding-bottom: 100%;
  content: '';
}
