.mainbg
  background-image: url(http://mrmrs.io/photos/u/011.jpg)

.logo
  color:white
  text-decoration: none
  font-weight:700

.content-container
  width:87.5%
  margin: 0 auto
  padding-bottom: 50px

header
  margin-bottom: 75px

.cities
  display: flex
  justify-content: space-between
  flex: 1

  &__city
    border: 1px solid black
    flex:1
    margin: 30px

    &--content
      padding-bottom: 100%

    &:before
      padding-bottom: 100%
      content: ''
